
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$navbar-margin-bottom: 0;

@import "../../bower_components/font-awesome/scss/font-awesome";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  overflow-y: scroll;
}

a.closed {
  opacity: .33;
  transition: opacity 300ms;

  &:hover {
    opacity: 1;
    transition: opacity 300ms;
  }
}
